.archive-posts {
  display: flex;
  flex-direction: column;
  margin: 60px auto 0;
  max-width: 800px;
  row-gap: 30px;

  li {
    display: flex;
    column-gap: 20px;

    h2 {
      margin-top: 0;
    }

    time {
      display: block;
      margin-bottom: 10px;
    }

    .excerpt {
      display: flex;

      p {
        margin-left: 3px;
      }
    }

    a {
      display: flex;
      gap: 30px;

      img {
        max-width: 300px;
      }
    }
  }
}
