header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;

  section.logo {
    align-items: center;
    display: flex;

    h3 {
      margin: 0;
    }
  }

  nav {
    align-items: center;
    display: flex;

    ul.parent-menu {
      display: flex;
      gap: 30px;

      > li {
        //     display: inline-block;
        padding: 20px 0;
        position: relative;

        a {
          display: block;
          font-size: 20px;
          text-decoration: none;
        }

        ul.sub-menu {
          background: cadetblue;
          display: none;
          left: 50%;
          margin-left: -75px;
          position: absolute;
          width: 150px;
          top: 63px;
          z-index: 9;

          > li {
            padding: 15px 0;
            text-align: center;
          }
        }

        &:hover {
          ul.sub-menu {
            display: block;

            li:hover {
              background-color: #f5c71f;
            }

            a {
              color: #fff;
            }
          }
        }
      }
    }
  }
}
